<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<link rel="stylesheet" href="../../static/member/join.css">
<body>
    <!-- 0px인 선이 맨 위에 8개 있음 -->
    <div class="join-modal-line1">
        <div class="join-modal-line2">
            <div class="join-modal-line3">
                <div class="join-modal-line4">
                    <div class="join-modal-line5">
                        <div class="join-modal-line6">
                            <div tabindex="0" class="join-modal-line7"></div>
                            <div tabindex="0" class="join-modal">
                                <div class="join-modal-all"></div>
                                <!-- 실직적인 모달 시작 부분(join-modal-box) -->
                                <div class="join-modal-box1" aria-modal="true" role="dialog">
                                    <div class="join-modal-box2">
                                        <div class="join-modal-box3">
                                            <div tabindex="0" class="join-modal-in-line-top"></div>
                                            <div tabindex="0" class="join-modal-in">
                                                <div class="join-modal-header">
                                                    <div class="join-modal-header-in1">
                                                        <div class="join-modal-header-in2">
                                                            <div class="join-modal-header-in3">
                                                                <div class="join-modal-header-in4">
                                                                    <div class="join-modal-header-left">
                                                                        <button type="button" aria-label="닫기" class="join-modal-header-close-button">
                                                                            <div class="join-modal-header-close-button-in">
                                                                                <svg viewBox="0 0 24 24" aria-hidden="true" class="X-img" style="color: rgb(15, 20, 25);">
                                                                                    <g>
                                                                                        <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                                                                                    </g>
                                                                                </svg>
                                                                                <div class="X-img-junk">
                                                                                    <span class="X-img-junk-css"></span>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                    <div class="join-modal-header-middle"></div>
                                                                    <div class="join-modal-header-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="join-modal-main"></div>
                                            </div>
                                            <div tabindex="0" class="join-modal-in-line-bottom"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div tabindex="0" class="join-modal-line7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>