body {
    margin: 0;
    padding: 0;
}

.Chat-Main {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid black;
    z-index: 0;
}

.Chat-Layout {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1257px;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: stretch;
}

.Chat-Wrapper {
    padding-right: 70px;
    backface-visibility: hidden;
}

.Chat-Container {
    width: 100%;
    min-height: 100%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(239, 243, 244);
    border-style: solid;
    background-color: white;
}

.Chat-Contents-Wrapper {
    width: 100%;
}

.Chat-Contents-Container {
    display: flex;
    width: 100%;
    height: 100vh;
    border-color: hsl(197 16% 91%);
    container-type: inline-size;
}

.Chat-UserList-Wrapper {
    display: block;
    width: 35%;
    max-width: 36rem;
    min-width: 400px;
    flex-shrink: 0;
}

.Chat-UserList-Container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
    border-inline-end-width: 1px;
}

.UserList-Header {
    display: flex;
    flex-direction: column;
}

.UserList-Header-Upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    height: 64px;
}

.Header-Upper-Content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Header-Upper-Text {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-word;
}

.Header-Upper-Button {
    display: flex;
    align-items: center;
}

.Header-Each-Button {
    display: inline-flex;
    font-size: 15px;
    line-height: 20px;
    color: hsl(210 25% 8%);
    outline-color: hsl(210 25% 8%);
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 9999px;

    min-width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.Header-Each-Button:hover {
    background-color: #0f141a1a;
}

.Header-Each-Button svg {
    width: 20px;
    height: 20px;
}

.UserList-Header-Bottom {
    padding: 4px 16px;
    user-select: none;
}

.Header-SearchBar {
    display: flex;
    padding: 8px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    background-color: hsl(180 14% 97%);
    border: 1px solid hsl(192 19% 95%);
    border-radius: 9999px;
    overflow: hidden;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: text;
}

.Header-SearchBar svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: #52636f;
}

.Header-SearchBar-Text {
    color: #52636f;
    height: 24px;
}

.Input {
    border: 1px solid #1e9cf1;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.Search-Conversation-Input {
    border: none;
    outline: none;
    line-height: 20px;
}

.UserList-Wrapper {
    padding-bottom: 4px;
    border-top-width: 1px;
    border-color: transparent;

    scrollbar-width: thin;
    scrollbar-color: #9ca3af80;
    height: 100% !important;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.UserList-Container {
    position: relative;
    overflow-anchor: none;
    width: 100%;
    height: 160px;
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.UserList-EachUser {
    width: 100%;
    left: 0px;
    top: 0px;
    visibility: visible;
}

.EachUser-UserInfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
    cursor: pointer;
}

.UserInfo-Avatar {
    padding-top: 12px;
    padding-bottom: 12px;
}

.Avatar-Image {
    display: flex;

    background-color: #bacbd4;
    border-radius: 9999px;

    overflow: hidden;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    animation-duration: 200ms;
}

.Avatar-Image:hover {
    filter: brightness(.9);
}

.Avatar-Image img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    dynamic-range-limit: standard;
}

.UserInfo-Info {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    border-bottom-width: 1px;
    border-color: #f0f4f5;
}

.Info-Upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.Info-UserName {
    display: flex;
    flex-direction: row;
}

.UserName-Container {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
}

.UserName-Text {
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #0f141a;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
}

.UserName-Badge {
    flex-shrink: 0;
}

.Badge-Wrapper {
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-word;
    color: #0f141a;
}

.Badge-Svg {
    display: flex;
    gap: 4px;
}

.Badge-Svg svg {
    display: block;
    fill: #1e9cf1;
}

.Lastest-ChatTime {
    display: flex;
    gap: 6px;
    color: #52636f;
    font-weight: 400;
    flex-shrink: 0;
    align-items: center;
}

.Lastest-ChatTime-Text {
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: inherit;
}

.Info-Bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.Talk-Wrapper {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    font-weight: 400;
    color: #52636f;
    gap: 4px;
    overflow: hidden;
    align-items: center;
    min-width: 0px;
}

.Talk-Container {
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    word-break: break-all;
    max-width: 100%;
    color: inherit;
}

.Talk-Content {
    word-wrap: break-word;
    word-break: break-word;
    color: inherit;
    font-size: inherit;
    max-width: 100%;
}

.Chat-ChatContent {
    display: block;
    width: 100%;
}

.ChatContent-Wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    gap: 24px;
}

.ChatContent-Icon {
    display: flex;
    width: 96px;
    height: 96px;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #f6f8f8;
}

.ChatContent-Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Upper-Text {
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-word;
}

.Bottom-Text {
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-word;
    color: #52636f;
}

.ChatContent-Button {
    display: inline-flex;
    border: 1px solid transparent;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    line-height: 20px;
    outline-color: #0f141a;
    background-color: #0f141a;    
    border-radius: 9999px;
    align-items: center;
    justify-content: center;
    height: 36px;
    min-width: 36px;
    gap: 4px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    cursor: pointer;
}

.ChatContent-Button-Text {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    color: white;
    font-weight: 700;
    font-size: inherit;
    word-wrap: break-word;
    word-break: break-word;
}

.ChatPage-Layout {
    display: block;
    width: 100%;
}

.ChatPage-Wrapper {
    display: flex;
    position: relative;
    height: 100%;
    border-left: 1px solid #e4eaec;
}

.ChatPage-Container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.ChatPage-Header {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.ChatPage-UserInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.ChatPage-Buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ChatPage-Button {
    display: inline-flex;
    width: 48px;
    min-width: 40px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 9999px;
    border: 1px solid transparent;
    background-color: #f6f8f8;
    font-size: 15px;
    line-height: 20px;
    color: #0f141a;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    cursor: pointer;
}

.ChatPage-Button:hover {
    background-color: #f0f4f5;
}

.ChatPage-Button svg {
    display: block;
    width: 22px;
    height: 22px;
}

.ChatPage-Main {
    flex: 1 1 0%;
    isolation: isolate;
    overflow: hidden;
}

.ChatPage-Main-Wrapper {
    position: relative;
    height: 100%;
}

.ChatPage-Main-Container {
    height: 100% !important;
    overflow: hidden auto;
    overflow-anchor: none;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.ChatPage-Main-Content {
    position: relative;
    overflow-anchor: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 620px;
}

.Each-Main-Content {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 0;
    align-items: center;
    justify-content: center;
    visibility: visible;
    list-style: none;
}

.UserProfile {
    padding: 32px 16px;
}

.User-Id-Text {
    max-width: 100%;
    font-size: 15px;
    list-style: 20px;
    font-weight: 400;
    color: #52636f;
}

.User-JoinDate {
    max-width: 100%;
    font-size: 15px;
    list-style: 20px;
    font-weight: 400;
    color: #52636f;
}

.User-Profile-Btn {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    min-width: 36px;
    height: 36px;
    font-size: 15px;
    line-height: 20px;
    padding: 0px 16px;
    color: white;
    background-color: #0f141a;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 9999px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    cursor: pointer;
}

.User-Profile-Btn:hover {
    background-color: #272c30;
}

.User-Profile-Text {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    font-size: inherit;
    font-weight: 700;
}

.Date-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.Date-Text {
    max-width: 100%;
    text-align: center;
    font-size: 13px;
    list-style: 16px;
    font-weight: 500;
    color: #6b7f8e;
}

.Left {
    align-items: flex-start;
}

.Right {
    align-items: flex-end;
}

.Chat-Left {
    display: flex;
    justify-content: flex-start;
    padding: 0px 16px;
}

.Chat-Right {
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px;
}

.Chat-Message-Wrapper {
    display: grid;
    align-items: center;
    column-gap: 8px;
    row-gap: 2px;
    max-width: 535px;
    margin-inline-start: -8px;
}

.Chat-Message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    grid-area: content;
}

.Message-Wrapper {
    position: relative;
    display: flex;
    padding: 8px 16px;
    justify-content: flex-end;
    border-radius: 1rem;
    background-color: #f0f4f5;
}

.Message-Container {
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-end;
    color: #0f141a;
    gap: 8px;
    overflow: hidden;
}

.Message-Content {
    font-size: 15px;
    list-style: 20px;
    font-weight: 400;
    color: inherit;
}

.Message-SendTime {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    padding-left: 5px;
    padding-top: 5px;
    gap: 4px;
}

.Message-SendTime span {
    color: inherit;
    font-size: 11px;
    list-style: 12px;
    font-weight: 400;
}

.Message-Buttons {
    display: inline-flex;
    min-height: 32px;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    gap: 4px;
}

.Message-Button-Wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Message-Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 9999px;
    border: 1px solid  transparent;
    background-color: transparent;
    font-size: 14px;
    line-height: 16px;
    outline-color: #0f141a;
    color: #0f141a;
    min-width: 32px;
    height: 32px;
    cursor: pointer;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.Message-Button svg {
    width: 20px;
    height: 20px;
}

.Message-Button:hover {
    background-color: #f0f4f5;
}

.CallEnd-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.CallEnd-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #52636f;
}

.CallEnd-Container svg {
    width: 20px;
    height: 20px;
}

.CallEnd-Text {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: inherit;
}

.ChatPage-Footer {
    position: absolute;
    width: 740px;
    bottom: 0px;
    left: 50%;
    isolation: isolate;
    z-index: 10;
    padding: 16px;
    transform: translate(-50%);
}

.ChatPage-Input-Wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
}

.ChatPage-Input-Container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 8px;
}

.ChatPage-Input {
    position: relative;
    flex: 1 1 0%;
}

.Input-TextArea-Wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 24px;
    background-color: #f0f4f5;
    padding: 8px 0px;
    font-size: 15px;
    line-height: 1.5rem;
}

.Input-TextArea-Container {
    display: flex;
    width: 100%;
    padding: 0px 8px;
    align-items: center;
    justify-self: flex-end;

}

.Input-TextArea-Container textarea {
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    max-height: 240px;
    flex: 1 1 0%;
    resize: none;
    background-color: transparent;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 400;
    color: #0f141a;
    border: none;
    outline: none;

    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.Submit-Button-Wrapper {
    height: 32px;
    align-items: flex-end;
    transform: none;
    padding-right: 10px;
}

.Submit-Button {
    display: flex;
    width: 32px;
    height: 32px;
    min-width: 32px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px none transparent;
    border-radius: 9999px;
    background-color: #1e9cf1;
    font-size: 14px;
    line-height: 16px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    cursor: pointer;
}

.Submit-Button svg {
    width: 1.125rem;
    height: 1.125rem;
    fill: white;
}

/* 모달 부분 ------------------------- */

.Modal-BackDrop {
    position: fixed;
    inset: 0px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
}

.Search-Modal {
    display: grid;
    position: fixed;
    max-width: 28rem;
    width: 100%;
    min-height: 572px;
    left: 50%;
    top: 50%;
    padding: 24px;
    padding-bottom: 0px;
    gap: 16px;
    border-radius: 0.75rem;
    border-width: 1px;
    border-color: #e4eaec;
    background-color: white;
    z-index: 50;
    transform: translate(-50%, -50%);
    transition-duration: 200ms;
    animation-duration: 200ms;
    box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), var(0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1));
}

.Search-Modal-Header {
    display: flex;
    text-align: left;
}

.Modal-Header-Wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.Modal-Header-Text {
    display: flex;
    flex-direction: column;
}

.Header-Text {
    margin: 0;
    font-size: 23px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #0f141a;
}

.Modal-Header-Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    gap: 4px;
    color: #0f141a;
    outline-color: #0f141a;
    font-size: 15px;
    line-height: 20px;

    padding-left: 0px;
    padding-right: 0px;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    border-radius: 9999px;
    min-width: 36px;
    cursor: pointer;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.Modal-Header-Button:hover {
    background-color: #0f141a1a;
}

.Modal-Header-Button svg {
    display: block;
    width: 20px;
    height: 20px;
}

.Search-Modal-SearchBar {
    display: flex;
    height: 36px;
    padding-inline-start: 12px;
    padding-inline-end: 16px;
    padding: 8px;
    gap: 8px;
    align-items: center;
    overflow: hidden;
    border-radius: 0.75rem;
    border: 1px solid #ced9de;
    background-color: #f6f8f8;
}

.Search-Modal-SearchBar svg {
    width: 21px;
    height: 21px;
    color: #52636f;
}

.Search-Modal-SearchBar input {
    width: 100%;
    margin: 0;
    background-color: transparent;
    font-weight: 400;
    color: #0f141a;
    border: none;
    outline: none;
}

.Search-Modal-ExpertList {
    max-height: 24rem;
    width: 100%;
    height: 100vh;
    overflow: hidden auto;
    overflow-anchor: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.Modal-ExpertList {
    position: relative;
    visibility: hidden;
    overflow-anchor: none;
    width: 100%;
    height: 280px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Each-Expert {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    visibility: visible;
}

.Each-Expert-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 0.5rem;
    padding: 8px;

    width: 100%;
    user-select: none;
    cursor: pointer;
}

.Each-Expert-Wrapper:hover {
    background-color: #f0f4f5;
}

.Expert-Image-Wrapper {
    isolation: isolate;
    position: relative;
}

.Expert-Image {
    display: flex;
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    overflow: hidden;
    border-radius: 9999px;
    background-color: #bacbd4;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    animation-duration: 200ms;
}

.Expert-Image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    dynamic-range-limit: standard;
    filter: brightness(1);
}

.Expert-Image img:hover {
    filter: brightness(.9);
}

.Expert-Info {
    flex: 1 1 0%;
}

.Expert-Info-Wrapper {
    overflow: hidden;
    align-items: flex-start;
}

.Expert-Name-Wrapper {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 4px;
}

.Expert-Name {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #0f141a;
    word-break: break-all;
    font-feature-settings: 'ss01';
}

.Expert-Badge-Wrapper {
    flex-shrink: 0;
}

.Expert-Badge {
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #0f141a;
    word-wrap: break-word;
    word-break: break-word;
}

.Expert-Badge svg {
    fill: #1e9cf1;
}

.Expert-Id-Wrapper {
    display: flex;
    min-width: 0px;
    align-items: center;
    gap: 8px;
}

.Expert-Id {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
    font-feature-settings: 'ss01';
    line-height: 20px;
}

.ChatUser-Modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 772px;
    max-width: 640px;
    max-height: 85vh;
    left: 50%;
    top: 50%;
    padding: 0px;
    padding-bottom: 0px;
    gap: 0px;
    overflow: hidden;
    border-radius: 1.5rem;
    border-width: 1px;
    border-color: #f0f4f5;
    background-color: #f6f8f8;
    z-index: 50;

    pointer-events: auto;

    transform: translate(-50%, -50%);
    transition-duration: 200ms;
    animation-duration: 200ms;
    box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), var(0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1));
}

.ChatUser-Modal-Wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    inset: 0;
}

.ChatUser-Modal-Container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.ChatUser-Modal-Header {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    top: 0px;
    z-index: 10;
}

.ChatUser-Modal-Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    gap: 4px;
    color: #0f141a;
    outline-color: #0f141a;
    font-size: 15px;
    line-height: 20px;

    padding-left: 0px;
    padding-right: 0px;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    border-radius: 9999px;
    min-width: 36px;
    cursor: pointer;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.ChatUser-Modal-Button:hover {
    background-color: #bacbd4;
}

.ChatUser-Modal-Button svg {
    width: 20px;
    height: 20px;
    font-size: 24px;
}

.ChatUser-Change-Alias {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.ChatUser-Modal-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
}

.Modal-Info-Image {
    width: 96px;
    height: 96px;
}

.Image-Link {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 9999px;
    background-color: #bacbd4;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    animation-duration: 200ms;
}

.Image-Link img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    dynamic-range-limit: standard;
    filter: brightness(1);
}

.Image-Link img:hover {
    filter: brightness(.9);
}

.Info-Text-Name {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.Text-Name {
    display: -webkit-box;
    overflow: hidden;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #0f141a;
}

.Info-Text-Id {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #52636f;
}

.Modal-Setting-Wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
}

.Modal-Setting-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.Modal-Upper-Contents {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 48px;
}

.Modal-Upper-Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Button-Content {
    display: flex;
    width: 64px;
    height: 64px;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding: 16px;
    background-color: #f0f4f5;
    cursor: pointer;
}

.Button-Content:hover {
    background-color: #ced9de;
}

.Button-Content svg {
    width: 24px;
    height: 24px;
}

.Button-Text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #0f141a;
}

.Modal-Bottom-Contents {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Modal-Bottom-Setting {
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    margin: 0px 16px;
    padding: 0px 16px;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f4f5;

    gap: 16px;
    cursor: pointer;
}

.RemovedMsg {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.BanUser {
    color: red;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.Modal-Bottom-Setting:hover {
    background-color: #e4eaec;
}

.Modal-Bottom-Setting svg {
    width: 24px;
    height: 24px;
}

.Bottom-Setting-Text {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
}

.Setting-Text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;   
}

.Bottom-Setting-Arrow {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #52636f;
}

.Bottom-Setting-Arrow svg {
    width: 18px;
    height: 18px;
}

.Setting-Arrow {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}

/* 모달 메뉴바 */
.Extend-Menu-Wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate(1044px, 395px);
    min-width: max-content;
    z-index: 50;
}

.Extend-Menu-Container {
    background-color: #f0f4f5;
    border: 1px #e4eaec;
    border-radius: 0.75rem;
    box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), var(0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1));
}

/* 토글용 css */
.off {
    display: none;
}